p {{action}} Goal
form(role='form')
    div(class='form-group')
        label(for='title') Title
        input(name='title' ng-model='goal.title' id='title' placeholder='Goal Title' class='form-control')
    div(class='form-group')
        label(for='description') Description
        textarea(name='description' ng-model='goal.description' id='description' class='form-control')
    div(class='form-group')
        label(for='type') Type
        select(name='type' ng-model='goal.type' id='type' class='form-control')
            for item in goalTypes
                option #{item}
    div(class='form-group')
        label(for='status') Status
        select(name='status' ng-model='goal.status' class='form-control' id='status')
            for item in goalStatuses
                option #{item}
    div(class='form-group') Create Date: {{goal.createDate | date:'MM/dd/yyyy @ h:mma'}}
    ul(class='list-inline')
        li
            button(type='submit' class='btn btn-primary' ng-click='save()') {{action}}
        li
            button(type='submit' class='btn btn-primary' onclick='window.history.back();') Cancel