div(class='jumbotron')
  div(class='container')
    div(class='panel panel-success')
        div(class="panel-heading") {{goal.title}}  @ {{goal.createDate | date:'MM/dd/yyyy'}}
        div(class="panel-body")
          div(class='col-sm-2') Description: 
          div(id='description' class='col-sm-10') 
              pre {{goal.description}}
          div(class='col-sm-2') Type: 
          div(id='type' class='col-sm-10') {{goal.type}}
          div(class='col-sm-2') Status: 
          div(id='status' class='col-sm-10') {{goal.status}}
        div(class="panel-footer")
          ul(class='list-inline text-center')
              li
                  a(class='btn btn-primary' data-toggle="collapse" ng-click='toggleAddNoteForm()') Add Note
              li
                  a(class='btn btn-primary' href='/#/edit/{{goal._id}}') Edit
              li
                  button(type='submit' class='btn btn-primary' onclick='window.history.back();') Cancel
  div(class='container hidden' id='add-note-form')
    div(class='panel panel-success')
        div(class="panel-heading") Add note to this goal
        div(class="panel-body")
          form(role='form' class='form-horizontal' name='addnoteform')
              div(class='form-group')
                  label(for='content' class='control-label col-sm-2') Content
                  div(class='col-sm-10 pt-10')
                    textarea(name='content', id='content', class='form-control', rows='6', ng-model='comment.content', required, ng-required='true')
              div(class='form-group') 
                  label(class='control-label col-sm-2') Create Date:
                  div(class='col-sm-10 pt-7') {{comment.date | date:'MM/dd/yyyy @ h:mma'}}
        div(class="panel-footer")
          ul(class='list-inline text-center')
            li
              button(type='submit' class='btn btn-primary' ng-click='saveNote()' ng-disabled='addnoteform.$invalid') Save
            li
              button(type='submit' class='btn btn-primary' ng-click='toggleAddNoteForm()') Cancel
  div(class='container hidden' id='notes')
    div(class='panel panel-success')
        div(class="panel-heading") 
            span Notes / Comments 
                span(class='badge') {{goal.comments.length}}
        div(class="panel-body")
            div(ng-repeat="comment in goal.comments | orderBy:'date':true" id='item_{{comment._id}}') 
                pre(class='goal-comment') 
                    span(class='pull-left')
                        i(class='glyphicon glyphicon-comment')
                        span(style='padding-right:10px') &nbsp;&nbsp;{{comment.date | date:'MM/dd/yyyy h:mma'}} 
                    span(class='pull-right')
                        a(href='#' ng-click='deleteNote()')
                            i(class='glyphicon glyphicon-remove')
                    hr
                    {{comment.content}}
