lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.idea

# Ignore concated js files
*concat*.js
# Ignore minified js files
# *min*.js
# Ignore minified css files
# *min*.css

pids
logs
results

npm-debug.log
node_modules
public/bower_components
coverage
