doctype html 
html(data-ng-app='mainApp')
    head
        title= title
        script(src='/bower_components/jquery/dist/jquery.min.js')
        script(src='/bower_components/jquery-ui/ui/jquery-ui.js')                                               `
        script(src='/bower_components/jquery-ui/ui/jquery.ui.datepicker.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
        script(src='/bower_components/angular/angular.min.js')
        script(src='/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js')
        script(src='/bower_components/angular-route/angular-route.min.js')
        if env == 'development'
            script(src='/javascripts/client.js')
            script(src='/javascripts/clientUtil.js')
        else
            script(src='/javascripts/client.min.js')
        link(rel='stylesheet', href='/stylesheets/style.min.css')
        link(rel='stylesheet', href='/bower_components/jquery-ui/themes/base/jquery-ui.css')
        link(rel='stylesheet', href='/bower_components/jquery-ui/themes/base/jquery.ui.datepicker.css')
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
        base(href="/")

    body
        h1= title
        ul(class='list-inline')
            li
                a(href='/')
                    button(class='btn btn-default btn-sm' type='button') Home
            li
                a(href='/#/goal/list')
                    button(class='btn btn-primary btn-sm' type='button') All Goals
            li
                a(href='/#/goal/add')
                    button(class='btn btn-primary btn-sm' type='button') New Goal
            li
                a(href='/#/sr/list')
                    button(class='btn btn-primary btn-sm' type='button') All Stock Recommend
            li
                a(href='/#/sr/add')
                    button(class='btn btn-primary btn-sm' type='button') New Stock Recommend
            li
                a(href='/login')
                    button(class='btn btn-primary btn-sm' type='button') Login
            li
                a(href='/register')
                    button(class='btn btn-primary btn-sm' type='button') Register
        hr
        block content
        if env == 'development'
            script(src='http://localhost:35729/livereload.js')