body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.pt-7 {
    padding-top: 7px;
}

.pt-10 {
    padding-top: 10px;
}

.pl-10 {
    padding-left: 10px;
}

.pr-10 {
    padding-right: 10px;
}

.goal-comment {
    background-color:whitesmoke;
}

input.ng-invalid, select.ng-invalid, textarea.ng-invalid {
    border: 1px solid lightgray;
    background-color: floralwhite;
}
/* input.ng-valid, select.ng-valid, textarea.ng-valid { border: 1px solid green; }*/

.errormsg-box {
    background-color: slategray;
    color: white;
    margin-top: 10px;
    padding-left: 10px;
    font-weight: bolder;
    border-radius: 5px;
}

.width-200-form-controller {
    width:150px !important;
    display: inline-block !important;
}