body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.pt-7 {
    padding-top: 7px;
}

.pt-10 {
    padding-top: 10px;
}

.pl-10 {
    padding-left: 10px;
}

.pr-10 {
    padding-right: 10px;
}

.goal-comment, .goal-description {
    background-color:whitesmoke;
}

.goal-comment hr {
    margin: 0;
}
pre.goal-comment, pre.goal-description{
    line-height:1;
}


input.ng-invalid, select.ng-invalid, textarea.ng-invalid {
    border: 1px solid lightgray;
    background-color: floralwhite;
}
/* input.ng-valid, select.ng-valid, textarea.ng-valid { border: 1px solid green; }*/

.errormsg-box {
    background-color: slategray;
    color: white;
    margin-top: 10px;
    padding-left: 10px;
    font-weight: bolder;
    border-radius: 5px;
}

.form-group .less-width-form-controller {
    width:150px;
    display: inline-block;
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.icon-header-th, .icon-td {
    width: 100px;
    text-align:center;
}

.login-panel {
    width:50%;
    margin:10em auto;
    text-align: center;
}

.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 30px;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}