.widget.col-sm-12.overdue-widget(ng-show="overDueGoals.length > 0")
    header
       h2 Overdue goals
    section
       table(class="table table-striped table-condensed table-hover")
           thead
               th Title
               th Type
               th Due Date
               th.icon-header-th Detail
               th.icon-header-th Finish
           tbody
               tr(ng-repeat='goal in overDueGoals' id='overdue_item_{{goal._id}}')
                   td
                       a(href='/#/goal/view/{{goal._id}}') {{goal.title}}
                   td {{goal.type}}
                   td {{goalDueDateMsg()}}
                   td.icon-td
                       span(id="description{{goal._id}}"
                       popover="{{goal.markedDescription}}" popover-placement="left" popover-title="<div class='text-center'>Description</div>")
                           span.glyphicon.glyphicon-info-sign.goal-list-desc-icon
                   td.icon-td
                       i(class='glyphicon glyphicon-ok goal-list-finish-icon' ng-click='finishGoal()')

.panel.col-sm-12.overdue-widget.text-panel(ng-hide="overDueGoals.length > 0")
    header
        h2 Congurations!
    section
        p.big-font All goals has been achived according to their due date, super man!


.widget.col-sm-6.upcoming-widget
    header
       h2 Upcoming goals
    section
       p List of upcoming goals

.widget.col-sm-6.year-widget
    header
       h2 Goal of current year
    section
       p List of current year's goal

.widget.col-sm-6.month-widget
    header
       h2 Goal of current Month
    section
       p List of current month's goal

.widget.col-sm-6.week-widget
    header
       h2 Goal of current week
    section
       p List of current week's goal

.panel.col-sm-12.shortcut-widget
    header
        h2 Add New Goal
    section
        p Add new goal shortcut


.clearfix