.widget.col-sm-12
    header
       h2 Overdue goals
    section
       p List of Overdue goals

.widget.col-sm-6
    header
       h2 Upcoming goals
    section
       p List of upcoming goals

.widget.col-sm-6
    header
       h2 Goal of current year
    section
       p List of current year's goal

.widget.col-sm-6
    header
       h2 Goal of current Month
    section
       p List of current month's goal

.widget.col-sm-6
    header
       h2 Goal of current week
    section
       p List of current week's goal

.panel.col-sm-12
    header
        h2 Add New Goal
    section
        p Add new goal shortcut


.clearfix