div(class='jumbotron')
  div(class='container')
    div(class='panel panel-success')
        div(class="panel-heading") {{action}} Goal
        div(class="panel-body" id='goal-edit-panel')
          form(role='form' class='form-horizontal' name='goaleditform')
              div(class='form-group')
                  label(for='title' class='control-label col-sm-2') Title
                  div(class='col-sm-10 pt-10')
                      input(name='title', ng-model='goal.title', id='title', placeholder='What do you want to archive?', class='form-control', ng-required='true')
                      div(ng-show='goaleditform.title.$dirty && goaleditform.title.$invalid', class='errormsg-box')
                        span(ng-show='goaleditform.title.$error.required') Title is required
              div(class='form-group')
                  label(for='description' class='control-label col-sm-2') Description
                  div(class='col-sm-10 pt-10')
                    textarea(name='description' ng-model='goal.description' id='description' class='form-control' rows='6')
              div(class='form-group')
                  label(for='type' class='control-label col-sm-2') Goal Due
                  div(class='col-sm-10 pt-10')
                      div(style="float:left;text-align:left;font-size:16px") {{goalDueDateMsg()}}
                      input(ui-date="dateOptions" class="form-control goal-date" name="dueDate" ng-model="goal.dueDate")
              div(class='form-group')
                  label(for='type' class='control-label col-sm-2') Type
                  div(class='col-sm-10 pt-10')
                    select(name='type' ng-model='goal.type' id='type' class='form-control' ng-required='true')
                        for item in goalTypes
                          option #{item}
              div(class='form-group')
                  label(for='status' class='control-label col-sm-2') Status
                  div(class='col-sm-10 pt-10')
                    select(name='status' ng-model='goal.status' class='form-control' id='status' ng-required='true')
                        for item in goalStatuses
                          option #{item}
              div(class='form-group')
                  label(class='control-label col-sm-2') Goal Create
                  div(class='col-sm-10 pt-7' style="font-size:16px") {{goal.createDate | date:'MM/dd/yyyy @ h:mma'}}
        div(class="panel-footer")
              ul(class='list-inline text-center')
                  li
                      button(type='submit' class='btn btn-primary' ng-click='save()' ng-disabled='goaleditform.$invalid') {{action}}
                  li
                      button(type='submit' class='btn btn-primary' onclick='window.history.back();') Cancel
