table(class="table table-striped table-condensed table-hover")
    thead
        th Title
        th Type
        th Description
        th Status
        th Create Date
        th.icon-header-th Edit
        th.icon-header-th Delete
        th.icon-header-th Finish this
    tbody
        tr(ng-repeat='goal in goals' id='item_{{goal._id}}')
            td 
                a(href='/#/goal/view/{{goal._id}}') {{goal.title}}
            td {{goal.type}}
            td 
                a(href='/#/goal/view/{{goal._id}}') {{goal.description}}
            td {{goal.status}}
            td {{goal.createDate | date:'MM/dd/yyyy @ h:mma'}}
            td.icon-td 
                a(href='/#/goal/edit/{{goal._id}}')
                    i(class='glyphicon glyphicon-edit')
            td.icon-td 
                a(href='#')
                    i(class='glyphicon glyphicon-remove' ng-click='deleteGoal()')
            td.icon-td 
                a(href='#' ng-click='finishGoal()')
                    i(class='glyphicon glyphicon-ok')

