table(class="table table-striped table-condensed table-hover")
    thead
        th Title
        th Type
        th Due Date
        th Status
        th Create Date
        th.icon-header-th Detail
        th.icon-header-th Edit
        th.icon-header-th Delete
        th.icon-header-th Finish
    tbody
        tr(ng-repeat='goal in goals' id='item_{{goal._id}}')
            td 
                a(href='/#/goal/view/{{goal._id}}') {{goal.title}}
            td {{goal.type}}
            td {{goalDueDateMsg()}}
            td {{goal.status}}
            td {{goal.createDate | date:'MM/dd/yyyy @ h:mma'}}
            td.icon-td
                span(id="description{{goal._id}}"
                popover="{{goal.markedDescription}}" popover-placement="left" popover-title="<div class='text-center'>Description</div>")
                    span.glyphicon.glyphicon-info-sign.goal-list-desc-icon
            td.icon-td 
                a(href='/#/goal/edit/{{goal._id}}')
                    i(class='glyphicon glyphicon-edit')
            td.icon-td 
                i(class='glyphicon glyphicon-remove goal-list-delete-icon' ng-click='deleteGoal()')
            td.icon-td 
                i(class='glyphicon glyphicon-ok goal-list-finish-icon' ng-click='finishGoal()')

