extends base
block body
    form(role='form' class='form-horizontal' name='loginform' action='/login' method='post')
        div(class='panel panel-success login-panel')
            div(class="panel-heading") Login to the System
            div(class="panel-body" id='goal-edit-panel')
                  div(class='form-group')
                      label(for='username' class='control-label col-sm-4') Username/Email
                      div(class='col-sm-5 pt-10')
                          input#username(name="username", placeholder='Username/Email', class='form-control', ng-required='true', ng-model='username')
                          div(ng-show='loginform.username.$dirty && loginform.username.$invalid', class='errormsg-box')
                            span(ng-show='loginform.username.$error.required') Username/Email is required
                  div(class='form-group')
                      label(for='password' class='control-label col-sm-4') Password
                      div(class='col-sm-5 pt-10')
                        input#password(name='password', type='password', ng-model='password', class='form-control', ng-required='true', placeholder='Password')
                        div(ng-show='loginform.password.$dirty && loginform.password.$invalid', class='errormsg-box')
                            span(ng-show='loginform.password.$error.required') Password is required
            div(class="panel-footer")
                  ul(class='list-inline text-center')
                      li
                          a(href='/register') Signup
                      li  or
                      li
                          button(type='submit' class='btn btn-primary') Login