table(class="table table-striped table-condensed table-hover")
    thead
        th Code
        th Name
        th Industry
        th RecommendBroker
        th RecommendDate
        th RecommendLevel
        th TargetPriceDateScope
        th TargetPrice
        th CreateDate
        th Operation
    tbody
        tr(ng-repeat='sr in srs' id='item_{{sr._id}}')
            td {{sr.stockCode}}
            td {{sr.stockName}}
            td {{sr.industry}}
            td {{sr.recommendBroker}}
            td {{sr.recommendDate}}
            td {{sr.recommendLevel}}
            td {{sr.targetPrice.dateScope}}
            td {{sr.targetPrice.lower}} - {{sr.targetPrice.upper}}
            td {{sr.createDate | date:'MM/dd/yyyy'}}
            td
                a(href='/#/sr/view/{{sr._id}}')
                    i(class='glyphicon glyphicon-eye-open')
                span(style='padding-right:10px')
                a(href='/#/sr/edit/{{sr._id}}')
                    i(class='glyphicon glyphicon-edit')
                span(style='padding-right:10px')
                a(href='#' ng-click='deleteSr()')
                    i(class='glyphicon glyphicon-remove')
